
{{!-- Navbar At The Top --}}


{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Takeout Scraper</h1>
    <p class="lead">Scraper, No Scraping (not)</p>
    <button id = "new-scrape" class = "btn btn-primary">Scrape!</button>
  </div>
</div>

{{!-- Content For Articles --}}
<div>
  <div id="articles">
  </div>
</div>